In [1]:
import os
import pandas as pd
import numpy as np

# 1. Define a research question

Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available

In [2]:
data = pd.read_csv("https://data.cityofnewyork.us/resource/erm2-nwe9.csv")

In [3]:
data.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

# 3. Think about possible measurement errors

In [5]:
data["Community Board"].unique()

array(['04 BROOKLYN', '17 BROOKLYN', '12 MANHATTAN', '03 BRONX',
       '10 BRONX', '01 BRONX', '07 BRONX', '04 BRONX', '01 BROOKLYN',
       '12 BRONX', '11 BRONX', '07 MANHATTAN', '06 MANHATTAN',
       '13 BROOKLYN', '07 QUEENS', '02 QUEENS', '02 BRONX', '08 BROOKLYN',
       '11 BROOKLYN', '03 MANHATTAN', '02 BROOKLYN', '01 QUEENS',
       '04 MANHATTAN', '14 BROOKLYN', '09 MANHATTAN', '06 BROOKLYN',
       '08 MANHATTAN', '18 BROOKLYN', '11 MANHATTAN', '03 BROOKLYN',
       '04 QUEENS', '06 QUEENS', '09 BROOKLYN', '12 QUEENS', '05 BRONX',
       '05 BROOKLYN', '10 MANHATTAN', '11 QUEENS', '09 QUEENS',
       '02 MANHATTAN', '08 BRONX', '10 QUEENS', '01 STATEN ISLAND',
       '03 QUEENS', '07 BROOKLYN', '02 STATEN ISLAND', '06 BRONX',
       '05 QUEENS', '09 BRONX', '14 QUEENS', '12 BROOKLYN', '05 MANHATTAN',
       '15 BROOKLYN', '13 QUEENS', '03 STATEN ISLAND', '01 MANHATTAN',
       '08 QUEENS', '10 BROOKLYN', '0 Unspecified', '16 BROOKLYN',
       'Unspecified BROOKLYN'], dtype=object)

In [7]:
len(data["Community Board"].unique())

61

In [20]:
cb = list(data["Community Board"].unique())
cb.sort()
print cb

['0 Unspecified', '01 BRONX', '01 BROOKLYN', '01 MANHATTAN', '01 QUEENS', '01 STATEN ISLAND', '02 BRONX', '02 BROOKLYN', '02 MANHATTAN', '02 QUEENS', '02 STATEN ISLAND', '03 BRONX', '03 BROOKLYN', '03 MANHATTAN', '03 QUEENS', '03 STATEN ISLAND', '04 BRONX', '04 BROOKLYN', '04 MANHATTAN', '04 QUEENS', '05 BRONX', '05 BROOKLYN', '05 MANHATTAN', '05 QUEENS', '06 BRONX', '06 BROOKLYN', '06 MANHATTAN', '06 QUEENS', '07 BRONX', '07 BROOKLYN', '07 MANHATTAN', '07 QUEENS', '08 BRONX', '08 BROOKLYN', '08 MANHATTAN', '08 QUEENS', '09 BRONX', '09 BROOKLYN', '09 MANHATTAN', '09 QUEENS', '10 BRONX', '10 BROOKLYN', '10 MANHATTAN', '10 QUEENS', '11 BRONX', '11 BROOKLYN', '11 MANHATTAN', '11 QUEENS', '12 BRONX', '12 BROOKLYN', '12 MANHATTAN', '12 QUEENS', '13 BROOKLYN', '13 QUEENS', '14 BROOKLYN', '14 QUEENS', '15 BROOKLYN', '16 BROOKLYN', '17 BROOKLYN', '18 BROOKLYN', 'Unspecified BROOKLYN']

In [21]:
df_cut = data[data['Community Board'] != '0 Unspecified']
df_cut = df_cut[df_cut['Community Board'] != 'Unspecified BROOKLYN']
len(df_cut["Community Board"].unique())

59

In [55]:
df_count = df_cut.groupby("Community Board").count()

In [56]:
df_count.reset_index(inplace = True)

In [57]:
df_count = df_count.iloc[:,:2]

In [58]:
df_count.head()

    Community Board  Unique Key
0          01 BRONX          25
1       01 BROOKLYN          32
2      01 MANHATTAN           5
3         01 QUEENS          32
4  01 STATEN ISLAND           8

In [59]:
df_count.rename(columns = {"Unique Key": "Complaint"}, inplace = True)

In [60]:
df_count.head()

    Community Board  Complaint
0          01 BRONX         25
1       01 BROOKLYN         32
2      01 MANHATTAN          5
3         01 QUEENS         32
4  01 STATEN ISLAND          8

In [61]:
result = df_count.sort(['Complaint'], ascending=False)
result

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     Community Board  Complaint
49      12 MANHATTAN         70
12      03 MANHATTAN         48
22         05 QUEENS         36
16       04 BROOKLYN         34
1        01 BROOKLYN         32
57       17 BROOKLYN         32
3          01 QUEENS         32
43          11 BRONX         29
27          07 BRONX         28
38         09 QUEENS         27
25      06 MANHATTAN         26
19          05 BRONX         25
41      10 MANHATTAN         25
0           01 BRONX         25
11       03 BROOKLYN         24
15          04 BRONX         22
45      11 MANHATTAN         21
33      08 MANHATTAN         20
32       08 BROOKLYN         20
42         10 QUEENS         19
7       02 MANHATTAN         19
20       05 BROOKLYN         19
37      09 MANHATTAN         17
23          06 BRONX         17
13         03 QUEENS         17
50         12 QUEENS         16
53       14 BROOKLYN         16
29      07 MANHATTAN         16
6        02 BROOKLYN         15
30         07 QUEENS         14
26         06 QUEENS         14
17      04 MANHATTAN         14
24       06 BROOKLYN         13
18         04 QUEENS         12
8          02 QUEENS         12
58       18 BROOKLYN         12
47          12 BRONX         11
36       09 BROOKLYN         10
48       12 BROOKLYN         10
35          09 BRONX          9
40       10 BROOKLYN          9
39          10 BRONX          9
34         08 QUEENS          8
4   01 STATEN ISLAND          8
21      05 MANHATTAN          8
44       11 BROOKLYN          8
46         11 QUEENS          8
5           02 BRONX          7
31          08 BRONX          7
52         13 QUEENS          6
28       07 BROOKLYN          6
51       13 BROOKLYN          5
55       15 BROOKLYN          5
2       01 MANHATTAN          5
10          03 BRONX          4
54         14 QUEENS          4
9   02 STATEN ISLAND          3
14  03 STATEN ISLAND          2
56       16 BROOKLYN          1

# 4. Think about the interpretation of your results?

In [40]:
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [44]:
df_pop["cd_id"]

0        BX08
1        BX12
2        BX10
3        BX11
4        BX03
5        BX06
6        BX07
7        BX05
8        BX04
9        BX09
10       BX01
11       BX02
12       MN12
13       MN09
14       MN10
15    MN11111
16       MN08
17       MN07
18       MN05
19       MN04
20       MN06
21       MN03
22       MN01
23       MN02
24       SI03
25       SI02
26       SI01
27       BK01
28       BK04
29       BK03
30       BK02
31       BK06
32       BK08
33       BK16
34       BK05
35       BK18
36       BK17
37       BK09
38       BK07
39       BK10
40       BK12
41       BK14
42       BK15
43       BK11
44       BK13
45       QN01
46       QN03
47       QN07
48       QN11
49       QN13
50       QN08
51       QN04
52       QN06
53       QN02
54       QN05
55       QN09
56       QN12
57       QN10
58       QN14
Name: cd_id, dtype: object

In [47]:
df_pop_use = df_pop.iloc[:,1:3]
df_pop_use.head()

  cd_id  Total Population
0  BX08            106737
1  BX12            134644
2  BX10            121209
3  BX11            135839
4  BX03            172247

In [69]:
df_pop_result = df_pop_use.sort(['Total Population'],ascending=False)
df_pop_result.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   cd_id  Total Population
47  QN07            256742
56  QN12            251002
12  MN12            224365
16  MN08            221898
35  BK18            210957

In [42]:
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [43]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [63]:
len(df_infr["Qualifying Name"].unique())

55

In [64]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [73]:
df_infr_cut = df_infr.ix[:,['Qualifying Name','Households: With Mobile Broadband','Households: With Mobile Broadband.1',
              'Households: With Mobile Broadband.2', 'Households: With Mobile Broadband.3',
             'Households: With Mobile Broadband.4', 'Households: Mobile Broadband Alone or With Dialup']]

In [74]:
df_infr_cut['number of mobile subscription'] =df_infr_cut.sum(axis=1)

In [75]:
result_infr = df_infr_cut[['Qualifying Name','number of mobile subscription']]
df_infr_result = result_infr.sort(['number of mobile subscription'],ascending=False)
df_infr_result.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,Qualifying Name,number of mobile subscription
16,NYC-Manhattan Community District 8--Upper East...,63973
17,NYC-Manhattan Community District 7--Upper West...,49546
23,NYC-Manhattan Community District 1 & 2--Batter...,41450
22,NYC-Manhattan Community District 1 & 2--Batter...,41450
20,NYC-Manhattan Community District 6--Murray Hil...,39450

In [76]:
df_infr_internet = df_infr[['Qualifying Name', 'Households: Dial-Up Alone', 'Households: Dsl', 'Households: Cable Modem',
        'Households: Fiber-Optic', 'Households: Satellite Internet Service', 
         'Households: Two or More Fixed Broadband Types, or Other', 
         'Households: Mobile Broadband Alone or With Dialup']]

In [77]:
df_infr_internet['number of internet type'] =df_infr_internet.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [78]:
result_infr2 = df_infr_internet[['Qualifying Name','number of internet type']]
df_infr_result2 = result_infr2.sort(['number of internet type'],ascending=False)
df_infr_result2.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                                      Qualifying Name  number of internet type
16  NYC-Manhattan Community District 8--Upper East...                   103065
17  NYC-Manhattan Community District 7--Upper West...                    85575
23  NYC-Manhattan Community District 1 & 2--Batter...                    74694
22  NYC-Manhattan Community District 1 & 2--Batter...                    74694
20  NYC-Manhattan Community District 6--Murray Hil...                    70507

In [89]:
type (df_infr_result2['Qualifying Name'][1][29:31])

str

# 5. Inform your results by linking dataset

In [80]:
for i in range(len(df_pop_result)):
    if df_pop_result["cd_id"][i][:2] == "BK":
        df_pop_result["cd_id"][i] = df_pop_result["cd_id"][i][2:] + ' BROOKLYN'
    elif df_pop_result["cd_id"][i][:2] == "SI":
        df_pop_result["cd_id"][i] = df_pop_result["cd_id"][i][2:] + ' STATEN ISLAND'
    elif df_pop_result["cd_id"][i][:2] == "MN":
        df_pop_result["cd_id"][i] = df_pop_result["cd_id"][i][2:] + ' MANHATTAN'
    elif df_pop_result["cd_id"][i][:2] == "BX":
        df_pop_result["cd_id"][i] = df_pop_result["cd_id"][i][2:] + ' BRONX'
    elif df_pop_result["cd_id"][i][:2] == "QN":
        df_pop_result["cd_id"][i] = df_pop_result["cd_id"][i][2:] + ' QUEENS'

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [81]:
df_pop_result.head()

           cd_id  Total Population
47     07 QUEENS            256742
56     12 QUEENS            251002
12  12 MANHATTAN            224365
16  08 MANHATTAN            221898
35   18 BROOKLYN            210957

In [91]:
data_link = pd.merge(result, df_pop_result, left_on="Community Board", right_on="cd_id")

In [92]:
data_link.head()

  Community Board  Complaint         cd_id  Total Population
0    12 MANHATTAN         70  12 MANHATTAN            224365
1    03 MANHATTAN         48  03 MANHATTAN            152453
2       05 QUEENS         36     05 QUEENS            168488
3     04 BROOKLYN         34   04 BROOKLYN            137368
4     01 BROOKLYN         32   01 BROOKLYN            154713